@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: 200px 0;
    }
}

.shimmer {
    background: linear-gradient(to right, #f3f3f3 0%, #e0e0e0 50%, #f3f3f3 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}
